In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
url = 'https://thegreatestbooks.org/?page='

In [3]:
##TAKES A MINUTE TO LOAD###
titles= []
authors =[]

for page in range(1,55):

    html_text = requests.get(url + str(page)).text
    soup = BeautifulSoup(html_text, 'lxml')
    container = soup.find('div', class_='container')
    books = container.find_all('h4')
    for book in books:
        links = book.find_all('a')
        title =links[0].text
        
        titles.append(title)
        try:
            author = links[1].text
            
            authors.append(author)
        except:
            author = 'Unkown'
            
            authors.append(author)

In [4]:
print(len(authors))

print(len(titles))

2742
2742

In [8]:
export_data = pd.DataFrame(data={'Book Title': titles, 'Author': authors })
export_data

,Book Title,Author
0,"130 ""best of"" book lists",list details page
1,In Search of Lost Time,Marcel Proust
2,Ulysses,James Joyce
3,Don Quixote,Miguel de Cervantes
4,One Hundred Years of Solitude,Gabriel Garcia Marquez
...,...,...
2737,"The Hunting of the Snark: An Agony, in Eight Fits",Lewis Carroll
2738,The Cunning Man,Robertson Davies
2739,Advertisements for Myself,Norman Mailer
2740,Pure,Andrew Miller
2741,The Shawl,Cynthia Ozick

In [9]:
final = export_data.iloc[1: , :]
final.to_csv("lots-of-great-books.csv")

In [10]:
final

,Book Title,Author
1,In Search of Lost Time,Marcel Proust
2,Ulysses,James Joyce
3,Don Quixote,Miguel de Cervantes
4,One Hundred Years of Solitude,Gabriel Garcia Marquez
5,The Great Gatsby,F. Scott Fitzgerald
...,...,...
2737,"The Hunting of the Snark: An Agony, in Eight Fits",Lewis Carroll
2738,The Cunning Man,Robertson Davies
2739,Advertisements for Myself,Norman Mailer
2740,Pure,Andrew Miller
2741,The Shawl,Cynthia Ozick